#include "Base.xcconfig"

// Конфигурация Debug
CONFIGURATION = Debug
DEBUG_INFORMATION_FORMAT = dwarf
GCC_OPTIMIZATION_LEVEL = 0
ONLY_ACTIVE_ARCH = YES
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
ENABLE_NS_ASSERTIONS = NO
STRIP_INSTALLED_PRODUCT = NO
VALIDATE_PRODUCT = NO

// Настройки сборки
BUILD_VARIANTS = debug

// Специфичные настройки Debug
EAGER_COMPILATION_ALLOW_SCRIPTS = NO

#include? "User.xcconfig"

