#include "Base.xcconfig"

// Release configuration
CONFIGURATION = Release
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_NS_ASSERTIONS = NO
GCC_OPTIMIZATION_LEVEL = s
SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_ACTIVE_COMPILATION_CONDITIONS = RELEASE
GCC_PREPROCESSOR_DEFINITIONS = $(inherited)

// Code signing
CODE_SIGN_IDENTITY = Apple Distribution
CODE_SIGN_IDENTITY[sdk=iphoneos*] = Apple Distribution

// Optimization
DEAD_CODE_STRIPPING = YES
LLVM_LTO = YES
VALIDATE_PRODUCT = YES

#include? "User.xcconfig"

